name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: fsharp

    steps:
    - uses: actions/checkout@v2
      
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301

    - name: Install dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --configuration Release --no-restore
    
    - name: Test
      run: |
       for directory in */ ; \
        do mkdir "$directory/TestResults" && \
        dotnet test --no-restore --verbosity normal --logger "html;LogFileName=$(basename $PWD)-logFile.html" ; \
       done
       
    - uses: kittaakos/upload-artifact-as-is@v0
      if: ${{ always() }}
      with:
        path: ${{github.workspace}}/**/*-logFile.html
